.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 65px;
    padding: 32px 65px 64px 65px;
    border-top: 1px solid black;
    color: rgba(30, 30, 30, 0.75);
    font-weight: 500;
    img{
        cursor: pointer;
    }
    span{
        font-weight: 700;   
        cursor: pointer;
    }
    .networks{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        cursor: pointer;
    }
    &.tablet{
        .erick{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}